fastapi
uvicorn[standard]
sqlalchemy
aiosqlite
pydantic
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
python-multipart
opencv-python
ultralytics
deepface
retina-face
numpy
Pillow
httpx
pytest
pytest-asyncio
